<header>
    <h1>Andrea Sierra</h1>
    <nav>
        <a routerLink=""><p>Home</p></a>
        <a routerLink="about"><p>About</p></a>
        <a routerLink="contact"><p>Contact</p></a>
        <a routerLink="work"><p>Work</p></a>
    </nav>
        <span class="material-symbols-outlined hamburguer" (click)="openCloseMenu()">menu</span>
    <aside *ngIf="menuToglee">
        <a routerLink=""><p>Home</p></a>
        <a routerLink="about"><p>About</p></a>
        <a routerLink="contact"><p>Contact</p></a>
        <a routerLink="work"><p>Work</p></a>
    </aside>
    
</header>