header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: black;
  height: 56px;

  h1,
  nav {
    padding: 15px;
  }
  h1 {
    font-size: 25px;
    font-family: "Courgette", cursive;
    color: #accfcf;
  }
  nav {
    display: flex;
    gap: 15px;
    a {
      cursor: pointer;
      color: rgb(172, 207, 207);
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
    }
  }
  .hamburguer {
    display: none;
    color: #accfcf;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  header {
    nav {
      display: none;
      color: #accfcf;
    }
    .hamburguer {
      display: flex;
      cursor: pointer;
      
    }
    
  }
}
