header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: azure;


    h1,nav {
        padding: 15px;
        color: azure;
        
    }
    h1{
        font-size: 25px;
        font-family: "Courgette", cursive;

    }
    nav {
        display: flex;
        gap: 15px; 
        a{
            cursor: pointer;
            color: azure;
            font-family: "Montserrat", sans-serif;
            text-decoration: none;

        }
    }
}


