.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
