<div class="container">
  <figure>
    <img
      src="/assets/img/cafe.jpg"
      alt="Imagen en un día de trabajo con mi laptop y una agenda"
    />
  </figure>

  <section>
    <div>
      <h1>¡Hola a todos!</h1>
      <app-title-text
        *ngFor="let info of information"
        [title]="info.title"
        [paragraphs]="info.paragraphs"
      ></app-title-text>
      <h2><i class="fa fa-cogs"></i> Tecnologías y Habilidades</h2>
      <app-text-icon
        *ngFor="let skill of skills"
        [iconSrc]="skill.icon"
        [iconName]="skill.name"
      ></app-text-icon>
    </div>
  </section>
</div>
